<div class="container-fluid">
  <footer class="row row-cols-5 p-5 text-white">
    <div class="col">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-dark text-decoration-none"
      >

      <img src="/img/log.png" style="height: 200px;width:300px" alt="">
      </a>
     
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Categories</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a
            href="/projects"
            class="nav-link p-0 text-white"
          >Projects</a></li>
        <li class="nav-item mb-2"><a
            href="#about"
            class="nav-link p-0 text-white"
          >About</a></li>
        <li class="nav-item mb-2"><a
            href="#contact"
            class="nav-link p-0 text-white"
          >Contact</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Groups</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a
            href="#"
            class="nav-link p-0 text-white"
          >Web Applications</a></li>
        <li class="nav-item mb-2"><a
            href="#"
            class="nav-link p-0 text-white"
          >Features</a></li>
        <li class="nav-item mb-2"><a
            href="#"
            class="nav-link p-0 text-white"
          >Wordpress</a></li>
        <li class="nav-item mb-2"><a
            href="#"
            class="nav-link p-0 text-white"
          >Computer Science</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>More About Me</h5>
      <ul class="nav flex-row justify-content-between">
        <li class="nav-item mb-2">
          <i class="fa fa-github"></i>
        </li>
        <li class="nav-item mb-2">
          <i class="fa fa-instagram"></i>
        </li>
        <li class="nav-item mb-2">
          <i class="fa fa-linkedin"></i>
        </li>
        <li class="nav-item mb-2">
          <i class="fa fa-envelope"></i>
        </li>

      </ul>
    </div>
  </footer>
</div>